:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  

  
  background-color: white;

  
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centra el contenido horizontalmente */
}

/* Ajusta según sea necesario */






