.contenedorNosotros {
    text-align: center; /* Centra el texto dentro del contenedor */
    max-width: 800px; /* Establece un ancho máximo para el contenedor (ajusta según sea necesario) */
    margin: 0 auto; /* Centra el contenedor horizontalmente */
    padding: 20px; /* Añade un espacio interno para mayor legibilidad y apariencia */
    margin-top: 200px;
  }
  
  .contenedorNosotros p {
    /* Puedes agregar estilos adicionales al párrafo si es necesario */
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    font-weight: bold;
  }