.contimg {
  width: 100%;
  z-index: 2;
}

.contimg img {
  width: 100%;
  height: auto;
  display: block;
}

.textoImagen {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  font-size: 4vw; /* Usando vw para tamaño de fuente relativo al ancho de la ventana */
  font-family: 'Arial', sans-serif;
  text-shadow: 0.2vw 0.2vw 0.4vw rgba(0, 0, 0, 0.5);
}

.btn-cita {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 0.2vw 0.2vw 0.4vw rgba(0, 0, 0, 0.5);
  font-size: 1.5vw;
}
.containerImagenes{
  margin: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  grid-gap: 10px;

}

.parrafoCortes{
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 50px;
}

@media screen and (max-width: 601px) {
  .textoImagen {
    top: 20%;
    left: 50%;
    font-size: 3vw;
  }
  .btn-cita{
    top: 30%;
    left: 50%;
    font-size: 2vw;
  }
}

@media screen and (min-width: 601px) {
  .textoImagen {
    top: 20%;
    left: 50%;
    font-size: 3vw;
  }

  .btn-cita {
    top: 30%;
    font-size: 2vw;
  }
}

@media screen and (min-width: 1243px) {
  .textoImagen {
    top: 30%;
    font-size: 3vw;
  }

  .btn-cita {
    top: 50%;
    font-size: 2vw;
  }
}