
  
  .carousel-root {
    max-width: 300px; /* Ancho máximo del contenedor del carrusel */
    margin: 0 auto;   /* Centrar el carrusel horizontalmente */
    width: 200px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    

  }
  
  /* Estilo para las imágenes pequeñas (puntos indicadores) */
  .carousel-root .carousel .thumbs-wrapper {
    margin-top: 10px; /* Ajusta el espacio entre las imágenes pequeñas y la imagen principal según sea necesario */
    
  }
  
  .carousel .thumbs {
    display: flex;
    justify-content: center;
  }
  
  .carousel-root .carousel .thumbs .thumb {
    width: 150px; /* Ajusta el ancho de cada imagen pequeña según sea necesario */
    height: 90px; /* Ajusta la altura de cada imagen pequeña según sea necesario */
    margin: 10px 10px; /* Ajusta el espacio entre las imágenes pequeñas según sea necesario */
  }
  
  .carousel-root .carousel .thumbs .thumb img {
    width: 100%;
    height: 90%;
    object-fit: cover;
  }

  .carousel-root .carousel .slide {
    max-height: 400px; /* Ajusta la altura máxima de las imágenes grandes según sea necesario */
  }
  
  .carousel-root .carousel .slide img {
    max-width: 90%; /* Ajusta el ancho máximo de las imágenes grandes según sea necesario */
    max-height: 90%;
    margin: 0 auto; /* Centra las imágenes en el carrusel */
  }