.container-navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  
}
.navegacion{
    width: 100%;
    z-index: 1000; /* Asegúrate de que el z-index sea mayor que el de la imagen */

}

nav ul {
    list-style: none;
    display: flex;
  }
  
  nav li {
    margin-right: 15px;
  }
  
  /* Alinea el último elemento (inicio de sesión) a la derecha */
  .inicioSesion {
    margin-right: 0;
    margin-left: auto;
  }  a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
  }
  a:hover {
    color: #535bf2;
  }
  @media screen and (min-width: 601px) {
    .menuhamburger {
      display: none;
      
  
    }
  }
  @media (max-width: 601px) {
  .container-navbar {
    flex-direction: column;
    align-items: flex-start;
  }
  .inicioSesion{
    margin-left:10px ;
  }
  .enlaces.open {
    display: flex;
    justify-content: center;
    align-items: center;
    top: 1px;
    position: fixed;
    display: flex; /* Mostrar los enlaces cuando se abre el menú */
    flex-direction: column; /* Mostrar enlaces en una columna */
    width: 50%;
    border-radius: 10px;
    
  }
  .menuhamburger {
    position: fixed;
    top: 0px;
    left: 0;
    z-index: 1000;
    background-color: transparent ;
    color: red;
    border: red;
  }

  nav ul {
    flex-direction: column;
    align-items: center;
    
    width: 100%;
    background-color: #272121;
    position: absolute;
    top: 70px; /* Ajusta la altura según tus necesidades */
    left: 0;
    display: none;
  }

  nav li {
    margin-right: 0;
    margin-bottom: 10px;
  }

  /* Muestra el menú cuando el usuario hace clic en el botón */
  #menu-btn:checked + nav ul {
    display: flex;
  }

  /* Oculta el checkbox */
  #menu-btn {
    display: none;
  }

  /* Estilos para el botón de hamburguesa */
  .menu-icon {
    display: block;
    cursor: pointer;
  }

  .menu-icon:before {
    content: '\2630'; /* Unicode para el símbolo de hamburguesa */
    font-size: 24px;
    color: #646cff;
  }
}