.contimg {
  width: 100%;
  z-index: 2;
}

.contimg img {
  width: 100%;
  height: auto;
  display: block;
}

.textoImagen {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  font-size: 4vw; /* Usando vw para tamaño de fuente relativo al ancho de la ventana */
  font-family: 'Arial', sans-serif;
  text-shadow: 0.2vw 0.2vw 0.4vw rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.btn-cita {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 0.2vw 0.2vw 0.4vw rgba(0, 0, 0, 0.5);
  color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #4caf50;
    z-index: 2;
}
.btn-cita:hover{
  background-color: #45a049;
}
.containerImagenes{
  display: grid;
  grid-template-columns: repeat(3, minmax(200px, 1fr));
  grid-gap: 4px;
  margin: 40px;
  justify-content: center; /* Centra las columnas horizontalmente */
 align-items: center;

}

.parrafoCortes{
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 50px;
}
.container-btn{
  
  position: absolute;
  top: 10px;
  right: 10px;
}

.btn-cerrar-sesion{
  
  padding: 10px;
  color: forestgreen;
 
}

@media screen and (max-width: 601px) {
  .textoImagen {
    top: 20%;
    left: 50%;
    font-size: 6vw;
  }
  .contimg img{
    height: 70vh;
  }
  .btn-cita{
    top: 35%;
    left: 50%;
    font-size: 5vw;
    width: 150px;
    height: 50px;
  }
  .parrafoCortes{
    font-size: 30px;
  }
}



@media screen and (min-width: 601px) {
  .textoImagen {
    top: 20%;
    left: 50%;
    font-size: 3vw;
  }
  .contimg img{
    height: auto;
  }
  .btn-cita {
    top: 40%;
    font-size: 2vw;
  }
}


@media (max-width: 768px) {
  .containerImagenes {
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr)); /* Ajusta el ancho mínimo de las columnas */
  }
}

@media screen and (min-width: 1243px) {
  .textoImagen {
    top: 30%;
    font-size: 3vw;
  }

  .btn-cita {
    top: 50%;
    font-size: 2vw;
  }
}